table.admin-table { 
  table-layout: fixed;
  text-align: center;
}

table.admin-table th {
  text-align: center;
}

th.short {
  width: 10%;
}

th.medium {
  width: 20%;
}

th.long {
  width: 50%;
}

.all-review-els, .all-user-els {
  display: none;
}