.edit-profile-container {
  padding-bottom: 40px;
  /*margin-top: -30px;*/
}

.user-profile-headline {
  font-family: Moon;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  box-sizing: border-box;
}

#password-change-form input, #username-change-form input {
    background-color: #fff;
    color: #000;
    font-family: Arial !important;
}

form#password-change-form {
  margin-top: 60px;
}

.change-explain {
  /*margin-top: -30px;*/
  padding-bottom: 30px;
  color: grey;
}

#password-change-form input:focus,
#password-change-form input.focus,
#username-change-form input:focus,
#username-change-form input.focus {
    outline-width: 0;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.red-msg {
  color: red;
}