/* ----------- Desktop ----------- */
@media only screen 
  and (min-width: 737px) { 
    html, body {
        height: 100%;
    }

    body {
        padding-top: 70px;
        background-color: #fff;
    }

    .mobile {
        display: none;
    }
}

