/* ----------- Desktop ----------- */
@media only screen 
  and (min-width: 737px) { 
    html, body {
        height: 100%;
    }

    body {
        padding-top: 70px;
        background-color: #EDEDED;
    }

    .mobile {
        display: none;
    }
}

/* ----------- iPhone ----------- */

/* Portrait  */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 736px) {
    body {
        font-size: 18px;
        padding-top: 30px;
        background-color: #EDEDED;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.2em;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .desktop {
        display: none;
    }
}


@font-face {
	font-family: BikoBlack;
	src: url("/fonts/Biko_Black.otf") format("opentype");
}

@font-face {
	font-family: BikoBold;
	src: url("/fonts/Biko_Bold.otf") format("opentype");
}

@font-face {
	font-family: BikoRegular;
	src: url("/fonts/Biko_Regular.otf") format("opentype");
}

@font-face {
	font-family: BikoLight;
	src: url("/fonts/Biko_Light_Restricted.otf") format("opentype");
}


@font-face {
	font-family: SlimJoe;
	src: url("../fonts/SlimJoe.otf") format("opentype");
}

@font-face {
	font-family: BigJohn;
	src: url("../fonts/BigJohn.otf") format("opentype");
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave.otf") format("opentype");
	font-style: normal;
	font-style: normal;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-Italics.otf") format("opentype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-Bold-Italics.otf") format("opentype");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-SemiBold-Italics.otf") format("opentype");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-SemiBold.otf") format("opentype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: WPDomino;
	src: url("../fonts/WPDomino.ttf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: WPDomino;
	src: url("../fonts/WPDomino-Bold.ttf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Moon;
	src: url("../fonts/Moon.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: Moon;
	src: url("../fonts/Moon-Bold.otf") format("opentype");
	font-weight: bold;
}

.error_message {
	color: red;
	font-family: Arial;
}

.success_message {
	color: green;
	font-family: Arial;
}

<<<<<<< HEAD
.navbar-header {
    margin: 0 auto;
    width: 100%;
    padding: 0px 30px 0px 10px;
}

.btn-primary:link, .btn-primary:visited, .btn-primary, .btn-primary:focus {
	background-color: #B23636;
    border-color: #B23636;
    color: #fff;
    font-family: BikoRegular;
	outline: none;
}

.nav-btn:link, .nav-btn:visited {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #666666;
    font-family: BikoRegular;
	outline: none;
	padding-top: 27px;
}

.nav-btn {
	height: 70px;
	border-radius: 0px;
}


.btn, .btn:focus {
		line-height: 23px;
		outline: none;
}

a:link, a:hover, a:visited{
	text-decoration: none;
}

.btn-primary:hover{
    background-color: #942222;
    border-color: #942222;
	color: #fff;
	outline: none;
}

.nav-btn:hover {
	outline: none;
	color: #000;
	border-color: rgba(102, 102, 102, 0);
	border-bottom: rgba(219, 95, 95, 0.3) solid 5px;
	background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.navbar {
    background-color: rgba(255,255,255,0.9);
    border-bottom: none;
}

.navtext {
	font-size: 18px;
	padding-top: 10px;
}

.username{
	font-weight: bold;
	color: #B23636;
}

.hidden {
	display: none;
}

/*.hidden {
	visibility: hidden;
}*/

#search-in-nav {
	width: 60vw;
	height: 70px;
}

.navbar-header {
	height: 70px;
}

.search-icon {
	height: 70px;
	width: 20px;
	padding: 20px;
	opacity: 0.6;
}


#search-in-nav input {
	border: 0;
	height: 70px;
	width: 55vw;
	background: none;

}

#search-in-nav input:focus {
	outline: 0;
	box-shadow: none;
}

#search-in-nav button {
	margin: 1px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 9px 0 15px;
    border-left: solid 1px #ccc;
	outline: none;
}

#search-in-nav button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
	color: #454545;
}

#search-in-nav .tt-dropdown-menu {
	margin-top: 0px;
	background-color: rgba(255,255,255,0.95);
}

.in-search {
	position: relative;
	top: -70px;
	float: right;
	width: 20vw;
}

.in-search a {
	float: right;
}

nav .container {
	width: 100%;
}

@media (min-width: 1001px) {
.logo {
	height: 70px;
	font-family: Moon;
	font-size: 20px;
	color: #942222;
	padding: 5px 0 0 35px;
	border-right: 1px rgba(0,0,0,0.3) solid;
}
}

#cornell-title-nav {
	font-family: BikoBold;
}

.logo a:visited {
	color: #942222;
}

.logo a:hover {
	color: #751B1B;
	-webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.user-in-nav {
	font-family: BikoBold;
	padding-right: 3px;
  font-size: 16px;
}

.user-dropdown-home {
	margin-right: 10px;
}

.user-dropdown i {
	font-size: 16px;
}

.user-dropdown:hover {
	border: 0;
}

.user-dropdown-menus{
    background-color: rgba(255,255,255,0.8);
	border: 0;

}

.user-dropdown-menus ul {
	float: left;
}

.user-dropdown-menus li {
	text-align: center;
	font-size: 16px;
	font-family: BikoRegular;
}

.user-dropdown-menus a {
	margin: 0 auto;
	width: 100%;
}

.user-dropdown-menus-home {
	margin-right: 15px;
}


footer {
	color: #545454;
	font-family: WPDomino;
	padding-top: 30px;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0px;
	background: none;
	font-size: 16px;
	text-align: center;
}

footer a {
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}

footer a:link, footer a:visited, footer a:focus {
	color: #545454;
	outline-width: 0px;
}

footer a:hover {
	color: #000;
	outline-width: 0px;
}

footer .fa-circle{
	font-size: 6px;
	position: relative;
	bottom: 2px;
}

.footer-top {
	padding-bottom: 3px;
}

=======
>>>>>>> 76b1df10765af9050122529e3f2e413c31a17f46
.fa-google-plus {
	font-size: 22px;
}

#VerifyModal p {
	font-family: WPDomino;
	padding-top: 15px;
	padding-bottom: 15px;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.highlight {
	background-color: rgba(178, 54, 54, 1);
	color: rgba(178, 54, 54, 1);
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
<<<<<<< HEAD

.search-results-nav {
	background-color: rgba(255, 255, 255, 1);
	width: 55vw;
	font-family: Moon;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-bottom: 10px;
}

#dummy-nav {
	padding-left: 15px;
	font-family: WPDomino;
}

.search-result-nav {
	background-color: rgba(255, 255, 255, 0);
	width: 52vw;
	cursor: pointer;
	padding: 5px 15px 5px 10px;
	margin: 5px 5px 5px 20px;
}

.user-score {
	padding-right: 17px;
	font-family: Moon;
	font-size: 14px;
	font-weight: bold;
	color: #942222;
}

@media (max-width: 1000px) {
	.logo {
		font-size: 10px;
		height: 70px;
		font-family: Moon;
		color: #942222;
		padding: 5px 0 0 35px;
		border-right: 1px rgba(0,0,0,0.3) solid;
	}
}
=======
>>>>>>> 76b1df10765af9050122529e3f2e413c31a17f46
