.row {
    width: 100%;
}

.col-centered {
    width: 100%;
}

#custom-search-input{
    border: solid 1px #B0B0B0;
    border-radius: 6px;
    background-color: #fff;
    padding: 10px;
	width: 60vw;
	margin: 0 auto;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    font-size: 25px;
	font-family: BikoRegular;
	position: relative;
	top: 5px;
	width: 55vw;
}

#custom-search-input button{
    margin: 1px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 9px 0 15px;
    border-left: solid 1px #ccc;
	outline: none;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
	color: #454545;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}

.menu-catalog {
		font-weight: bold;
		padding-right: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#cornell-title {
	font-family: BikoBold;
}

.modal-title {
    font-family: BikoBold;
    text-align: center;
}

.modal-body {
    font-family: Moon;
    font-size: 16px;
    margin-left: 5%;
}

.signin-body {
    margin-left: 60px;
}

.modal-body label {
    margin-top: 7px;
}

.modal-body input{
    line-height: 0;
    padding: 7px;
    font-size: 18px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 5px;
	font-family: BikoRegular;
	width: 250px;
}

.modal-body .row {
    padding: 15px 0;
}

.modal-body .col-md-3 {
    width: 20%;
}

.modal-body input:focus,
.modal-body input.focus {
    outline-width: 0;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.main-search-bar {
    background-color: rgba(255, 255, 255, 0);
}

#dummy {
	font-family: WPDomino;
}
.search-results {
    position: absolute;
    top: 70px;
	font-family: Moon;
	width: inherit;
	margin-bottom: 100px;
	margin-left: -5px;
    z-index: 500;
}

.search-result {
	padding: 10px 5px 10px 15px;
	cursor: pointer;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 6px;
}

.highlight {
	background-color: rgba(178, 54, 54, 0.9);
	color: #fff;
}

#main-event-msg {
    padding-top: 10px;
    text-align: center;
    font-size: 0.8em;
    color: #00b16a;
}

.catalog-no {
    font-weight: bold;
}

/* ----------- Desktop ----------- */
@media only screen 
  and (min-width: 737px) { 

.landing-title {
    text-align: center;
    font-family: Moon;
    font-size: 70px;
    padding: 100px 0 90px 0;
    margin: 0 auto;
    width: 100%;
    color: #942222;
}

}

/* ----------- iPhone ----------- */

/* Portrait  */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 736px) {

    .landing-title {
        text-align: center;
        font-family: Moon;
        font-size: 1.8em;
        width: 100%;
        color: #942222;
        padding-bottom: 30px;
        margin-top: 30%;
    }

    .cornell-title {
        font-family: BikoBold;
        font-size: 1.1em;
    }

    #custom-search-input{
        padding: 5px;
        width: 100%;
    }

    #custom-search-input input {
        border: 0;
        box-shadow: none;
        font-size: 1.1em;
        font-family: BikoRegular;
        position: relative;
        top: 5px;
        width: 100%
    }

    #custom-search-input button{
        margin: 1px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 9px 0 15px;
        border-left: solid 1px #ccc;
        outline: none;
    }

    #custom-search-input button:hover{
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
        color: #454545;
    }

    #custom-search-input .input-group, #custom-search-input .glyphicon-search {
        font-size: 0.8em;
    }

    .search-results {
        position: absolute;
        top: 70px;
    }

    .main-search-bar {
        background-color: rgba(255, 255, 255, 0);
    }

    .search-results {
        font-family: Moon;
        width: inherit;
        font-size: 1em;
    }

    .search-result {
        padding: 5px 5px 5px 15px;
        cursor: pointer;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 6px;
    }

    .highlight {
    background-color: rgba(178, 54, 54, 0.9);
    color: #fff;
}

}
