.all-reviews {
  padding-top: 20px;
  margin-bottom: 100px;
}

.profile-label {
  font-family: Moon;
  float: left;
}

.profile-item {
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.profile-data {
  float: right;
}

.edit-account-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.user-profile-label {
  font-family: Moon;
  padding-bottom: 5px;
}

.link-to-detail {
  color: #B23636;
  cursor: pointer;
}

.link-to-detail:hover {
  color: #942222;
}

.num-votes {
  padding-left: 20px;
}

.review-item {
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.review-text {
  padding-left: 10px;
  font-style: italic;
  word-wrap: break-word;
}