<template name="About">

{{> Nav}}
<div class="container-fluid coursedetail-container about-container">
  <div class="row-fluid">
    <div class="course-about">
      <div class="container-fluid courseabout-container">
    <h2>WHAT IS CORNELL COURSE REVIEW?</h2>
    <div class="answer">
        <p>Cornell Course Review is a website that allows Cornell students submit reviews for
        classes that they've taken or are taking currently.</p>
    </div>
    <h2>WHY DID WE MAKE IT?</h2>
    <div class="answer">
        <p>We wanted to provide an organized system for students to share their experiences in the classes that they have taken.
        Since enrollment period is approaching, we thought that this might be pretty useful.</p>
    </div>
    <h2>HOW DO I USE IT?</h2>
    <div class="answer">
        <ul>
            <li>Sign in your Cornell email.</li>
            <li>You can change your public username (default is your NetID).</li>
            <li>Search for a class.</li>
            <li>If you've taken the class, you can recommend it or submit a review.</li>
            <li>A gold trophy <i class="fa fa-trophy gold-trophy"></i> indicates that the course got at least 100 recommendations.</li>
            <li>A silver trophy <i class="fa fa-trophy silver-trophy"></i> indicates that the course got at least 50 recommendations.</li>
            <li>You can upvote and downvote other people's reviews.</li>
            <li>Every time you write a review, you get 10 points.
                When your review gets upvoted, you get 1 point.
                If you review is downvoted, you lose 1 point.</li>
        </ul>
    </div>
    <h2>ATTRIBUTION</h2>
    <div class="answer">
        <p>Course data are from the official Cornell <a class='about-link' href='https://classes.cornell.edu/browse/roster/FA15'>course roster</a>.</p>
        <p>Inspired by the <a class='about-link' href='http://acsu.cornell.edu/w/index.php/Main_Page#1000'>Unofficial Cornell CS Wiki</a>.</p>
    </div>
  </div>
    </div>
  </div>
</div>
</template>