<template name="Admin">

{{> Nav}}

<div class="container-fluid admin-container">
  <div class="row-fluid">
    <div class="col-md-10 col-md-offset-1">
      <h2>Users: {{users.count}}</h2>
      <button class="btn btn-primary show-user-els">Show users</button>
      <div class="all-user-els">
      {{#each users}}
        <div class="user-item review-item">
          <table class="table table-hover admin-table">
            <tr>
              <th>NetId</th>
              <th>Score</th>
              <th>Name</th>
              <th>Date</th>
            </tr>
            <tr>
              <td>{{netId}}</td>
              <td>{{score}}</td>
              <td><a href="/users/{{_id}}">{{username}}</a></td>
              <td>{{formatDate createdAt}}</td>
            </tr>
          </table>
        </div>
      {{/each}}
      </div>

      <h2>Reviews:: {{comments.count}}</h2>
      <button class="btn btn-primary show-review-els">Show users</button>
      <div class="all-review-els">
      {{#each comments}}
        <div class="review-item">
          <table class="table table-hover admin-table">
            <tr>
              <th class="short">Course</th>
              <th class="short">Votes</th>
              <th class="long">Text</th>
              <th class="short">Username</th>
              <th class="medium">Date</th>
            </tr>
            <tr>
              <td>{{courseCatalog}}</td>
              <td>{{votes}}</td>
              <td>{{text}}</td>
              <td><a href="/users/{{owner}}">{{username}}</a></td>
              <td>{{formatDate createdAt}}</td>
            </tr>
          </table>
        </div>
      {{/each}}
      </div>
    </div>
  </div>
</div>

</template>

