<template name="Footer">
  <footer>
    <div class="container">
        <!-- <div id="fb-root"></div> -->
        <div class="row">
            <div class="col-md-12 footer-top">
                <a href="/about">About</a> <i class="fa fa-circle"></i> <a href='mailto:cornellcoursereview@gmail.com'>Contact</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="http://www.facebook.com/share.php?u=cornellcoursereview.me&title=CornellCourseReview"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="http://twitter.com/home?status=CornellCourseReview+cornellcoursereview.me"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://plus.google.com/share?url=cornellcoursereview.me"><i class="fa fa-google-plus fa-2x"></i></a>
            </div>
        </div>
    </div>
  </footer>
</template>


