<template name="NewClass">

<div>
  {{> LandingNav}}
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Create a Class</h2>
        <h3>@{{emaildomain}}</h3>
        <form class="newclass-form">
          <div class="form-group has-error">
            <span id="incomplete" class="help-block hide">Please fill out all fields</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="title">Class title</label>
            <input type="text" class="form-control" name="title" id="title">
          </div>
          <div class="form-group">
            <label class="control-label" for="code">Class code</label>
            <input type="text" class="form-control" name="code" id="code">
            <span id="codeHelpBlock" class="help-block hide">A class with that code already exists</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="self-enroll">Enable self-enrollment</label>
            <input type="checkbox" class="form-control" name="self-enroll" id="self-enroll">
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Enroll students by email (separate emails with commas)</label>
            <textarea class="form-control" name="enrolled-students" id="enrolled-students"></textarea>
          </div>
          <div class="create-submit">
            <button type="submit" class="btn btn-default">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>
