<template name="SignUp">
  {{> LandingNav}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>{{who}} Get Started</h2>
        <form class="signup-form">
          <div class="form-group has-error">
            <span id="incomplete" class="help-block hide">Please fill out all fields</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Your school email:</label>
            <input type="email" class="form-control" name="email" id="email">
            <span id="emailHelpBlock" class="help-block hide">Please enter a valid email</span>
            <span id="blackListHelpBlock" class="help-block hide">You cannot use that domain. Please enter your school email.</span>
            <span id="emailExistsHelpBlock" class="help-block hide">An account with that email already exists.</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Choose a password:</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
          <div class="form-group">
            <label class="control-label" for="password2">Confirm password:</label>
            <input type="password" class="form-control" name="password2" id="password2">
            <span id="passwordHelpBlock" class="help-block hide">Passwords do not match</span>
          </div>
          <div class="signup-submit">
            <button type="submit" class="btn btn-default">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>